.details {
  padding: 10px 50px;
  /* background: linear-gradient(70deg, #2ebdc5, 40%, #311b6e); */
}

.hourly {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: scroll;
  border: 1px solid #2ebdc5;
  border-radius: 5px;
}

.hour {
  font-weight: 500;
  font-size: .8rem;
}

.day {
  text-decoration: underline;
  font-weight: 700;
  height: 20px;
}

img {
  border-radius: 5px;
}

.shortForecast {
  font-weight: 400;
}

.daily {
  margin-top: 25px;
}

.period {
  display: flex;
  gap: 25px;
  margin: 5px 0 5px 0;
}

.periodName {
  font-size: 1.1rem;
  font-weight: 700;
  width: 86px;
}

.icon {
  width: 86px;
  height: 86px;
}

.windSpeed, .temp {
  width: 86px;
}

.detailedForecast {
  font-size: .8rem;
  width: 200px;
}