.footer {
  position: relative;
  height: 350px;
}

.footer img { 
  width: 350px;
  position: absolute;
  z-index: 7;
  right: 5rem;
  top: -30%;
}

.footer ul {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
  list-style-type: none;
}

.footer li { font-size: .9rem;}

.footer a { font-size:.9rem; }

