.header {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
  color: #308FAD;
  background-color: white;
}

.icon {
  font-size: 40px;
  font-weight: 900;
  line-height: 38px;
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: 25px;
  background: linear-gradient(70deg, #2ebdc5, 40%, #311b6e);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.iconLineOne{ 
  position: relative;
  top: 25px;
}

.iconLineOne{ 
  position: relative;
  bottom: 25px;
}


.userArea {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
}

button {
  font-size: 1rem;
  color: purple;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}