.header {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
  color: #308FAD;
  background-color: white;
}

.icon {
  flex-shrink: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 38px;
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: 50px;
  background: linear-gradient(70deg, #2ebdc5, 40%, #311b6e);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}


.inputBox {
  display: relative;
  margin-left: 25px;
}

.input {
  color: #308FAD;
  width: 100%;
  height: 30px;
  min-width: 125px;
  padding-inline: 20px;
  border: 1px solid #308FAD;
  border-radius: 3px;
  outline: none;
}

.input::placeholder {
  color: #308FAD;
}

.dropdown {
  width: 100%;
  min-width: 125px;
  position: absolute;
  z-index: 10;
  background: white;
  border-radius: 3px;
}

.hidden {
  display: none;
}