.login {
  background-color: rgba(60, 60, 60, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.loginForm {
  background-color: #fff;
  width: 350px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.errors {
  color: red;
  font-size: .8rem;
}

label { display: inline-block; }

button { margin: 10px 0;}